body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.main {
  width: 100%;
  background-color: rgb(204, 0, 153);
}

.header h1 {
  width: 100%;
  height: 250px;
  background-color: rgb(255,102,0);
  font-size: 40px;
  text-align: center;
  align-items: center; /* vertical */
  
}
.header h2 { 
   width: 100%;
  height: 250px;
  background-color: rgb(255,102,0);
  font-size: 20px;
  text-align: center;
  align-items: center; /* vertical */
   
.menu {
  width: 100%;
  height: 50px;
  background-color: rgb(255,102,0);

  display: flex;
  justify-content: center; /* horizontal */
  align-items: center; /* vertical */
}

.button {
  width: 120px;
  height: 100%;
  background-color: rgb(255,102,0);
  text-color: black;
  text-align: center;
  margin: 2px;
}

.button:hover {
  background-color: rgb(0,255,255);
}

.hero {
  width: 100%;
  height: 300px;
  background-color: #ffedba;
}

.column-container {
  width: 100%;
  height: 300px;
  display: flex;
}

.column {
  width: 50%;
  height: 100%;
  background-color: #f4c670;
}

.column:hover {
  background-color: #e0b565;
}

.contact {
  width: 100%;
  height: 300px;
  background-color: #ffedba;
}

.footer {
  width: 100%;
  height: 70px;
  background-color: red;
}




/* comment */
